# Create a csv for genres, one genre per row

In [18]:
import pandas as pd
from matplotlib import pyplot as plt

In [19]:
# Genres are stored in movies.csv from the MovieLens data
df_movies = pd.read_csv('raw_data/movies.csv')

In [20]:
# Create df of just movieid and genre
df_genres = df_movies[['movieId','genres']]

In [21]:
df_genres

       movieId                                       genres
0            1  Adventure|Animation|Children|Comedy|Fantasy
1            2                   Adventure|Children|Fantasy
2            3                               Comedy|Romance
3            4                         Comedy|Drama|Romance
4            5                                       Comedy
...        ...                                          ...
86532   288967                                 Action|Drama
86533   288971                                Action|Horror
86534   288975                                  Documentary
86535   288977                               Crime|Thriller
86536   288983                                  Documentary

[86537 rows x 2 columns]

In [22]:
# Each movie can multiple genres, seperated by "|". We want one genre per row for our model.
# Below creates a list of dictionaries of id and genre, which is then made into a df.

new_rows = []
for _, row in df_genres.iterrows():
    movie_id = row['movieId']
    genres = row['genres'].split('|')
    for genre in genres:
        new_rows.append({'movieId': movie_id, 'genre': genre})

In [23]:
new_df = pd.DataFrame(new_rows)

In [24]:
# The three below cells are for formatting purposes
new_df.index.name='id'

In [25]:
new_df = new_df.rename(columns={"movieId": "movie_id"})

In [26]:
new_df['genre'] = new_df['genre'].str.lower()

In [27]:
new_df

        movie_id        genre
id
0              1    adventure
1              1    animation
2              1     children
3              1       comedy
4              1      fantasy
...          ...          ...
152283    288971       horror
152284    288975  documentary
152285    288977        crime
152286    288977     thriller
152287    288983  documentary

[152288 rows x 2 columns]

In [13]:
# Uncomment if needed to write the csv file
# new_df.to_csv('DB_models/DB_genres.csv')