# rating

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('raw_data/ratings.csv')

In [3]:
df

          userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
33832157  330975     8340     2.0  1091583256
33832158  330975     8493     2.5  1091585709
33832159  330975     8622     4.0  1091581777
33832160  330975     8665     3.0  1091581765
33832161  330975     8783     2.5  1091581799

[33832162 rows x 4 columns]

In [4]:
df.index.name='id'

In [7]:
df = df.rename(columns={"userId": "user_id", "movieId": "movie_id", "timestamp": "create_ts"})

In [8]:
df

          user_id  movie_id  rating   create_ts
id
0               1         1     4.0  1225734739
1               1       110     4.0  1225865086
2               1       158     4.0  1225733503
3               1       260     4.5  1225735204
4               1       356     5.0  1225735119
...           ...       ...     ...         ...
33832157   330975      8340     2.0  1091583256
33832158   330975      8493     2.5  1091585709
33832159   330975      8622     4.0  1091581777
33832160   330975      8665     3.0  1091581765
33832161   330975      8783     2.5  1091581799

[33832162 rows x 4 columns]

In [10]:
df.to_csv('DB_models/DB_rating.csv')