# Create users csv

In [59]:
import pandas as pd

In [60]:
# We need both tags and ratings to get a comprehensive set of users. Some users may have rated and not tagged, or vice versa
# Reading in just the userId from both csvs

column_name = 'userId' 

df1 = pd.read_csv('raw_data/tags.csv', usecols=[column_name])
df2 = pd.read_csv('raw_data/ratings.csv', usecols=[column_name])

In [61]:
df1

         userId
0            10
1            10
2            10
3            14
4            14
...         ...
2328310  330923
2328311  330933
2328312  330933
2328313  330947
2328314  330947

[2328315 rows x 1 columns]

In [62]:
df2

          userId
0              1
1              1
2              1
3              1
4              1
...          ...
33832157  330975
33832158  330975
33832159  330975
33832160  330975
33832161  330975

[33832162 rows x 1 columns]

In [64]:
# Create one df 
df_combined = pd.concat([df1, df2], ignore_index=True)

In [65]:
# Sort by id
df_combined = df_combined.sort_values(by=['userId'])

In [71]:
# Get array of only the unique values
uniqueId=df_combined['userId'].unique()

In [75]:
# Create df, name column id to match database
result_df = pd.DataFrame({'id': uniqueId})

In [76]:
result_df

            id
0            1
1            2
2            3
3            4
4            5
...        ...
330970  330971
330971  330972
330972  330973
330973  330974
330974  330975

[330975 rows x 1 columns]

In [77]:
result_df.to_csv('DB_models/DB_user.csv', index=False)