# Users

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('raw_data/tags.csv')

In [22]:
df

         userId  movieId                  tag   timestamp
0            10      260         good vs evil  1430666558
1            10      260        Harrison Ford  1430666505
2            10      260               sci-fi  1430666538
3            14     1221            Al Pacino  1311600756
4            14     1221                mafia  1311600746
...         ...      ...                  ...         ...
2328310  330923   176599  politically correct  1507547491
2328311  330933     3317        coming of age  1351279384
2328312  330933     3317            sexuality  1351279389
2328313  330947     5782       Not Luc Besson  1154110902
2328314  330947    44191           comic book  1154271525

[2328315 rows x 4 columns]

In [23]:
userIds = df['userId'].unique()

In [28]:
df_users = pd.DataFrame({'id': userIds})

In [30]:
df_users

           id
0          10
1          14
2          16
3          26
4          37
...       ...
25275  330911
25276  330914
25277  330923
25278  330933
25279  330947

[25280 rows x 1 columns]

In [29]:
df_users.to_csv('DB_models/DB_user.csv', index=False)